* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.produto {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 4%;
}

.produto__content {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
} /* bloco */

.produto__imagem { /* elemento */
    width: 100%;
}

.produt__nome { /* elemento */
    font-size: 1.2em;
    margin: 8px 0;
}

.produto__descricao { /* elemento */
    color: gray;
}

.produto--em-destaque { /* modificador */
    border: 2px solid gold;
    padding: 8px;
    background-color: #ffff42;
    box-shadow: 0 0 20px rgba(255,255,0,0.5);
    transition: all 0.3s ease-in-out;
}